h1{
    color: purple;
}

p{
    color: palevioletred;
    font-family: Arial, sans-serif;
    font-weight: bold;              
}


body{
    background-color: mediumorchid; text-align: center; font-family: Arial, sans-serif;
}